{{!-- Home page for admin --}}
<section style="background-color:#DFF6FF; height:40rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5 pt-5 text-primary">
                <h1>Welcome to Admin pannel</h1>
            </div>
            <div class="col-md-12 mt-5 text-center">
                <p>You can add, delete or edit products from here...<br>Please login to access your store administrative page.</p>
            </div>
        </div>
    </div>
</section>