{{!-- Login form for user --}}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Enter password">
                </div>
                {{#if loginErr}}
                    <p class="error" style="color:red;">Invalid Username or Password!</p>
                {{/if}}
                <a href="/signup">Create an acocunt?</a>  <!-- Link to signup page -->
                <button type="submit" class="btn btn-primary float-right">Login</button>
            </form>
        </div>
    </div>
</div>