{{!-- Pge to display the succesfull order placement --}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5 text-center">
                <h1>Order Placed Succesfully!</h1>
                <a href="/orders" class="btn btn-primary mt-4 p-2">View Orders</a>
            </div>
        </div>
    </div>
</section>